.main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 6rem;
  width: 100%;
  column-gap: 25x;
}

.introText p {
  display: flex;
  justify-content: center;
  padding: 25px;
  padding-left: 20%;
  padding-right: 20%;
  text-align: center;
  font-family: monospace;
  font-weight: bold;
  font-size: xx-large;
}

.introText div {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.introText span {
  font-style: normal;
  font-weight: bolder;
}

.horizontalScrollerButton {
  border-color: transparent;
  background-color: transparent;
  height: 100px;
  padding-left: 10px;
  padding-right: 10px;
  color: white;
}

.horizontalScrollerButton:hover {
  border-color: transparent;
  background-color: lightsteelblue;
  height: 100px;
}

.portfolioHeader div {
  display: flex;
  flex-direction: row;
  /* flex-direction: column;
  align-items: center; */
}

.portfolioHeader {
  display: flex;
  font-family: monospace;
  font-size: 100px;
  padding-left: 2%;
  padding-bottom: 5px;
  word-wrap: break-word;
  /* Media query for smaller screens */
  @media (max-width: 600px) {
    font-size: 50px; /* Adjust font size for smaller screens */
  }
}

.portfolioBodyAll {
  padding-left: 10px;
}

.portfolioSectionHeader {
  font-size: xx-large;
  font-weight: bold;
  padding-top: 10px;
  padding-bottom: 5px;
}

.portfolioBody {
  display: flex;
  white-space: pre;
}

.scrollContent {
  display: inline-block;
}

.thinDivider {
  display: flex;
  height: 2px;
  width: 90%;
  background-color: white;
}

.socialIcon {
  width: 50px;
  height: 50px;
}

@keyframes scrollAnimation {
  from {
    transform: translateX(0%);
  }
  to {
    transform: translateX(-100%);
  }
}

.scrollContainer {
  display: inline-block;
  min-width: 100%;
  white-space: pre;
  animation-name: scrollAnimation;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  animation-duration: 15s;
}

.scrollContainerWrapper {
  white-space: nowrap;
  animation-name: scrollAnimation;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  /* animation-duration: 20s; <-- setting this breaks the animation... why? */
  animation-play-state: paused;
  animation-direction: reverse;
}

.scrollContainerWrapper:hover {
  animation-play-state: running;
}
